Pygments==2.12.0
attrs==21.4.0
bleach==5.0.0
build==0.8.0
cffi==1.15.0
cmarkgfm==0.8.0
commonmark==0.9.1
coverage==6.4
docutils==0.18.1
importlib-metadata==4.11.4
iniconfig==1.1.1
keyring==23.5.1
packaging==21.3
pep517==0.12.0
pkginfo==1.8.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyflakes==2.4.0
pyparsing==3.0.9
pytest-cov==3.0.0
pytest-network==0.0.1
pytest==7.1.2
readme-renderer==35.0
requests-mock==1.9.3
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
tomli==2.0.1
twine==4.0.1
webencodings==0.5.1
zipp==3.8.0
